.calculator {
    width: 250px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
    border-radius: 5px;
    overflow: hidden;
}

.display {
    height: 50px;
    padding: 10px;
    text-align: right;
    background-color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: lightgrey;
}

.number {
    background-color: white;
}

.operator {
    background-color: grey;
    color: white;
}

button:hover {
    background-color: darkgrey;
    color: white;
}

button:active {
    transform: translateY(2px);
}
